@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Index */
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.upper {
    background-color: black;
    display: block;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
}

.below {
    margin-top: 18%;
    display: flex;
    background-color: black;
    z-index: 1;
}

.right {
    float: right;
    background-image: url(../Images/MainCarPic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    flex: 4;
}

.left {
    float: left;
    flex: 6;
}

.logo {
    display: flex;
    margin: 30px;
}

.logo-name {
    color: red;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.logo-link {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.tag-line {
    margin-left: 20%;
}

.nav {
    margin-top: 5%;
}

.nav-list {
    display: flex;
}

li {
    margin-right: 30px;
}

.nav a {
    color: red;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(65, 63, 63);
    text-decoration: none;
}

.nav-list a:hover {
    background-color: red;
    color: black;
}

.top-b {
    float: right;
    margin: 30px;
}

.top-b-user {
    float: right;
    margin: 5% 2% 0 0;
}

.user-name {
    color: rgb(65, 63, 63);
    padding-left: 3%;
    padding-right: 3%;
    border: 5px solid rgb(65, 63, 63);
    border-radius: 10px;
    background-color: red;
    text-decoration: none;
    max-height: 40px;
    float: right;
    margin: 5% 1% 0 1%;
    text-align: justify;
}

.top-logout {
    float: right;
    margin: 5% 5% 0 1%;
    border: 5px solid rgb(65, 63, 63);
    border-radius: 10px;
}

.top-logout:hover {
    border: 5px solid red;
}

.top-buttons {
    color: rgb(65, 63, 63);
    background-color: red;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
}

.top-buttons:hover {
    color: red;
    background-color: black;
    height: 30px;
    width: 80px;
    border-radius: 5px;
}

.red {
    color: red;
}

.white {
    color: white;
}

.text-align {
    text-align: justify;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(65, 63, 63);
    min-width: 100px;
    padding-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    padding: 7px 7px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: red;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.carousel {
    flex: 1;
}

.carousel-item img {
    object-fit: cover;
}

.np {
    background-color: rgb(119, 119, 119);
    max-width: 5rem;
}

.np:hover {
    background-color: rgb(182, 91, 91);
}

/* About Section */
.about {
    padding-top: 20%;
    height: 82%;
    display: flex;
    flex-direction: column;
}

.owner {
    flex: 1;
    /* background-color: bacl; */
    display: flex;
    flex-direction: row;
}

.quote {
    flex: 1;
    /* background-color: blueviolet; */
}

.owner-pic {
    flex: 1;

}

.owner-pic img {
    border-radius: 50%;
    max-height: 200px;
    margin: 5% 0 0 30%;
    border: 2px solid red;
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.8);
}

.owner-pic img:hover {
    max-height: 220px;
    border: 2px solid red;
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.5);
    transition: 1s;
}

.owner-quote {
    flex: 1;
    max-height: 200px;
    margin: 2% 5% 0 0;
    border: 2px solid red;
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.8);
    text-align: center;
    border-radius: 20px;
}

.owner-quote:hover {
    max-height: 220px;
    border: 2px solid red;
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.5);
    transition: 1s;
}

.owner-quote p {
    margin: 5%;
    font-size: 15px;
    color: red;
}

.quote {
    flex: 1;
    max-height: 110px;
    margin: 5%;
    border: 2px solid red;
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.8);
    text-align: center;
    border-radius: 20px;
}

.quote:hover {
    max-height: 140px;
    margin: 5%;
    border: 2px solid red;
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.5);
    transition: 1s;
}

.quote p {
    margin: 3%;
    font-size: 15px;
    color: red;
}

/* Reviews Section */
.reviews {
    padding-top: 5%;
    height: 82%;
    margin: 0;
}

.review-logo {
    max-width: 50px;
    border-radius: 50%;
}

.review {
    padding: 5px;
    max-height: 100%;
    margin: 2% 5% 0 0;
    border: 2px solid red;
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.8);
    text-align: center;
    border-radius: 20px;
}

.review p {
    padding: 0 10px 0 10px;
    font-family: 'Poppins', sans-serif;
}

.user-pic {
    border-radius: 50%;
    max-height: 40px;
    border: 2px solid red;
    box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.8);
}

/* Car Details Page */
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 30px;
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(87, 85, 85);
}

.container .content h1 {
    font-size: 52px;
    letter-spacing: 2px;
}

.features {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.make,
.model,
.year,
.color,
.number {
    width: 15%;
    height: 30%;
    padding: 2%;
    margin: 4%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: red;
    border: 10px solid red;
}

.make:hover,
.model:hover,
.year:hover,
.color:hover,
.number:hover {
    background-color: red;
    color: rgb(65, 63, 63);
    border-color: rgb(22, 22, 22);
}

.car-detail-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.car-btn {
    color: rgb(65, 63, 63);
    background-color: red;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    border: 5px solid rgb(65, 63, 63);
    border-radius: 10px;
    height: 40px;
}

.car-btn:hover {
    color: red;
    background-color: rgb(65, 63, 63);
    height: 30px;
    width: 80px;
    border-radius: 5px;
    border: none;
    border: 5px solid red;
    border-radius: 10px;
    height: 40px;
}